<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- Definition for textEditor bean without constructor-arg  -->
    <bean id = "cartRepository" class = "za.co.gavinmorris.cart.serializer.CartSerializer;">
    </bean>

    <!-- Definition for spellChecker bean -->
    <bean id = "itemRepository" class = "za.co.gavinmorris.cart.serializer.ItemSerializer;">
    </bean>

    <bean id = "minimumNumberDiscount" class = "za.co.gavinmorris.cart.serializer.MinimumNumberDiscount;">
    </bean>

    <bean id = "taxCalculator" class = "za.co.gavinmorris.cart.serializer.TaxCalculator;">
    </bean>

</beans>